# Ignore virtual environment
venv/

# Ignore pipenv environment
Pipfile.lock

# Ignore database files
db.sqlite3

# Ignore static files collected by Django
/staticfiles/

# Ignore media files uploaded by users
/media/

# Ignore compiled Python bytecode
__pycache__/

# Ignore local settings file
local_settings.py

# Ignore any secret keys or sensitive information
*.env

# Ignore IDE-specific files
.vscode/
.idea/
*.pyc

# Ignore system files
.DS_Store
